.movieCredits_list{
    list-style-type: none;
}
.movieCredits_wrapper{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size:20px

}
.movieCredits_image{
    width: 200px;
    height: 250px;
}
.movieCredits_noInfo{
      font-size: 20px;
      font-weight: 600;
}